@font-face {
  font-family: mainFont;
  src: url(/assets/fonts/Burgela.ttf);
}
@font-face {
  font-family: body-Font;
  src: url(/assets/fonts/Ryo-Gothic-PlusN-L.ttf);
}
.main-content {
  padding: 50px 100px;
}

.titleFont {
  font-family: mainFont;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #17A6B6;
  letter-spacing: 1px;
}

.header {
  display: flex;
  align-items: first baseline;
  gap: 50px;
  font-family: body-Font;
  margin-bottom: 30px;
}
.header h2 {
  color: #17A6B6;
  font-size: 44px;
  margin: 0;
}
.header span {
  color: #888;
  font-size: 12px;
  font-weight: 700;
}

.cards-section .card {
  background-color: #f3f3f3;
  cursor: pointer;
}
.cards-section .card:hover {
  background-color: #e5e5e5;
}
.cards-section .card:hover .card-footer {
  background-color: #e5e5e5;
}
.cards-section .card-footer {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
}
.cards-section .card-footer span {
  font-family: body-Font;
  font-size: 12px;
}
.cards-section img {
  height: 180px;
}

.footer-wrapper {
  background-color: #17A6B6;
  padding: 50px 120px;
}
.footer-wrapper .footer-content {
  color: white;
}
.footer-wrapper .footer-content h4 {
  text-transform: uppercase;
}
.footer-wrapper .footer-content .contact-us-wrapper .info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-wrapper .footer-content .contact-us-wrapper .info .icons-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-wrapper .footer-content .contact-us-wrapper .info .icons-wrapper span {
  font-family: body-Font;
  font-size: 14px;
}
.footer-wrapper .footer-content .contact-us-wrapper button {
  padding: 10px 20px;
  color: #17A6B6;
}
.footer-wrapper .footer-content .connect-with-us-wrapper .brand-icons {
  display: flex;
  gap: 25px;
  border-bottom: 1px solid;
}
.footer-wrapper .footer-content .connect-with-us-wrapper .brand-icons i {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #17A6B6;
  height: 85px;
  width: 85px;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  padding: 25px;
}
.footer-wrapper .footer-content .connect-with-us-wrapper .signup span {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.footer-wrapper .footer-content .connect-with-us-wrapper .signup input {
  font-size: 18px;
  box-shadow: none;
}
.footer-wrapper .footer-content .connect-with-us-wrapper .signup button {
  background-color: #f3f3f3;
  color: #17A6B6;
  font-weight: 600;
}
.footer-wrapper .footer-content .about-us-wrapper {
  background-image: url(/assets/images/bg_about.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 200px 200px;
}
.footer-wrapper .footer-content .about-us-wrapper .text-content {
  width: 250px;
}
.footer-wrapper .footer-content .about-us-wrapper .text-content ul {
  padding-left: 19px;
}

.pop-up {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.pop-up .popup-content {
  margin: 100px;
  padding: 0 20px;
  height: 500px;
  background-color: white;
  position: relative;
  margin-top: 150px;
}
.pop-up .popup-close-btn {
  display: flex;
  justify-content: flex-end;
}
.pop-up .popup-close-btn button {
  margin: 20px 0;
  height: 35px;
  width: 35px;
  padding: 3px;
  font-size: 30px;
  color: white;
  border: none;
  background-color: #080808;
}
.pop-up #pop-up-title {
  font-family: mainFont;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #17A6B6;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .main-content {
    padding: 50px 60px;
  }
  .main-content .card {
    margin: 20px auto;
  }
  .footer-wrapper {
    padding: 50px 60px;
  }
  .footer-wrapper .connect-with-us-wrapper {
    margin: 100px 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}/*# sourceMappingURL=main-style.css.map */